@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

.heading {
    font-family: Montserrat-Bold;
}

a {
    color: black;
}

.red {
    color: red;
}


.bold {
    font-family: Montserrat-Bold;
}

.regular {
    font-family: Montserrat-Regular;
}

body{
    padding: 0 5% 0 5%;
}

@media screen and (max-width: 899px) {
    .header {
        margin-bottom: 2%;
    }

    .nav {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    body{
        overflow: hidden;
    }

    a {
        text-decoration: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }

    .nav {
        padding-top: 3%;
        font-family: Montserrat-Regular;
    }

    a {
    border-bottom: 1px solid white;
    transition: border-bottom 0.5s;
    }

    a:hover {
        border-bottom: 1px solid black;
    }

    .content {
        display: flex;
        justify-content: left;
        height: 80vh;
    }

    .left-column {
        width: 300px;
        border-right: 1px solid black;
        display: flex;
        justify-content: space-between;
    }

    .red-column {
        width: 5%;
        background-color: red;
    }

    .profile-info {
        width: 80%
    }

    .right-column {
        padding-left: 5%;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 65%;
    }
}

@media screen and (min-width: 1500px) {
    .header {
        margin-bottom: 2%;
        font-size: xx-large;
    }

    .nav {
        padding-top: 3%;
    }

    .content {
        height: 80vh;
    }

    .left-column {
        width: 500px;
        font-size: x-large;
    }

    .red-column {
        width: 3%;
    }

    .right-column {
        font-size: x-large;
    }
}

@media screen and (min-width: 3000px) {
    body, .right-column, .left-column {
        font-size: xxx-large;
    }

    .left-column {
        width: 900px;
    }

    .red-column {
        width: 2%;
    }
}
